@keyframes vaievem {
    0%{
        left: 0;
    }

    50%{
        left: 5px;
    }

    100%{
        left: 0;
    }
}

@keyframes pulse {
    0%{
        scale: 1;
        filter: drop-shadow(#00000024 0px 0px 10px);
    }

    50%{
        scale: 1.1;
        filter: drop-shadow(#00000018 0px 50px 40px);
    }

    100%{
        scale: 1;
        filter: brightness(1);
        filter: drop-shadow(#00000024 0px 0px 10px);
    }
}

@keyframes shine {
    0%{
        filter: brightness(1);
    }

    50%{
        filter: brightness(1.6);
    }

    100%{
        filter: brightness(1);
    }
}

@keyframes bounce {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(10deg);
    }
}
