.profileImg{
    height: 32px;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 50%;
}

.profile{
    height: 100%;
    width: 20%;
    gap: calc(var(--gap)/2);
    color: var(--dark);
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;
    background: var(--white);
    border-radius: 50px;
    cursor: pointer;
    border: none;
}