#postanexo{
    display: none;
}

@keyframes aparecer {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.postFeedInfo{
    background: var(--purple);
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    padding: var(--pad);
    border-radius: 0  0  var(--radius)  var(--radius)  ;
    color: var(--white);
    animation: .3s aparecer ease-in-out;
    display: flex;
}

.postFeedInfo::backdrop{
    animation: .3s reverse aparecer ease-in-out;
}

#inputsforPost{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
}

#gridnewpost{
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: var(--gap);
    padding: calc(var(--gap)*2);
}

.anexo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--light);
    border-radius: var(--radius);
    width: 100%;
    border: 2px solid var(--hover);
    aspect-ratio: 1/1;
}

.drag-over{
    background: var(--purple);
}

#droparea:hover{
    box-shadow: 0px 0px 10px var(--hover);
    color: var(--purple);
}

#droparea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--light);
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
    border: 2px solid var(--hover);
    aspect-ratio: 1/1;
    cursor: pointer;
}

#droparea img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    border: none;
    box-shadow: none;
}

.welcome{
    background: var(--light);
    padding: calc(var(--pad)*2);
    display: flex;
    font-size: 14px;
    gap: var(--gap);
}

.welcome a{
    min-width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    font-size: 10px;
    padding: 10px 25px;
}

.video_post{
    background: var(--white);
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    min-height: 220px;
    min-width: 100%;
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    flex-direction: column;
    font-size: 12px;
}

video{
    width: 100%;
    height: auto;
    border-radius: var(--radius);
}

.post_pdf_ext{
    background: var(--white);
    color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    min-height: 220px;
    min-width: 100%;
    margin-bottom: var(--gap);
    border-radius: var(--radius);
    flex-direction: column;
    font-size: 12px;
}

.fkfk{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 12px;
    gap: calc(var(--gap)/2);
}

.bottom_pdf_post{
    background: var(--purple);
    border-radius: 0 0 var(--radius) var(--radius); 
    width: 100%;
    min-height: 60px;
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

.bottom_pdf_post:hover h3{
    scale: 1.1;
}

object{
    width: 100%;
    min-height: 300px;
    border-radius: var(--radius);
}

.info1post{
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    justify-content: flex-start;
}

#likeBtn{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#hu{
    width: auto;
    height: 100%;
    display: flex;
}



.btn_post_act{
    border-radius: var(--btn-radius);
    background: var(--light);
    border: transparent 2px solid;
    padding: var(--pad);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--dark);
}

.btn_post_act-active{
    border-radius: var(--btn-radius);
    background: var(--purple);
    border: transparent 2px solid;
    padding: var(--pad);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--light);
    gap: 5px;
}

.btn_post_act:hover{
    border: var(--hover) 2px solid;
}

#carddivscroll{
    border-radius: var(--btn-radius);
    display: flex;
    overflow-x: hidden;
    gap: var(--gap);
}

.welcome div::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  .welcome div::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

#voltarPag{
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 50%;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    background: var(--light);
    padding: var(--pad);
    color: var(--dark);
}

#voltarPag:hover{
    background: var(--hover);
}

.recomend{
    background: var(--light);
    padding: var(--pad);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.recomend h3{
    color: var(--dark);
    font-weight: 300;
}

.linklist{
    padding: var(--pad);
    display: flex;
    flex-direction: column;
}

#btnNewPost{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.secaoProjectDiv:hover .btn_secaoopt{
    opacity: 1;
}

.formNewSecao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: esmaecer ease .3s;
    background: var(--light);
    border-radius: var(--radius);
}

.ulGap{
    gap: 40px;
}

#modalOptPost{
    display: none;
    position: absolute;
    background: var(--white);
    flex-direction: column;
    padding: var(--pad);
    box-shadow: 0px 0px 10px var(--hover);
    z-index: 800;
    animation: esmaecer .3s;
    border-radius: var(--radius);
}

.modalOpt{
    display: none;
    position: absolute;
    flex-direction: column;
    background: var(--white);
    padding: var(--pad);
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 0px 10px var(--hover);
    z-index: 800;
    animation: esmaecer .3s;
    gap: calc(var(--gap)/2);
    border-radius: var(--radius);
    font-size: 14px;
}

.modalOpt::-webkit-scrollbar, .modalOptBig::-webkit-scrollbar{
    display: none;
}

.modalOptBig{
    display: none;
    flex-direction: column;
    position: absolute;
    background: var(--white);
    padding: var(--pad);
    height: 310px;
    overflow: auto;
    box-shadow: 0px 0px 10px var(--hover);
    z-index: 800;
    animation: esmaecer .3s;
    gap: calc(var(--gap)/2);
    border-radius: var(--radius);
    font-size: 14px;
}

#inputCategoria, #inputOrient{
    display: none;
}

#orientadorEscolhido, #categoriaEscolhida{
    font-size: 14px;
}

.opt{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: var(--radius);
    padding: var(--pad);
    color: var(--dark);
    background: var(--white);
    border: none;
    gap: var(--gap);
    cursor: pointer;
}

.opt:hover{
    background: var(--hover);
}

.opt img{
    height: 52px;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

#modalOptPost a{
    display: flex;
    background: var(--white);
    padding: var(--pad);
    border-radius: var(--radius);
    color: var(--dark);
    gap: var(--gap);
}

#modalOptPost::-webkit-scrollbar {
    width: 0px;
}

.colecaoButtonSave{
    border-radius: var(--radius);
    border: none;
    min-height: 120px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='200' preserveAspectRatio='none' viewBox='0 0 600 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2116%26quot%3b)' fill='none'%3e%3crect width='600' height='200' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2117%26quot%3b)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsPath2118' x='30' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='30' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2119' x='30' y='150' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='30' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2120' x='90' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2121' x='90' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2122' x='90' y='150' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2120' x='90' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='150' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='150' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='150' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='150' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='210' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='210' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='210' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='210' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='270' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='270' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='270' y='150' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2121' x='270' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='330' y='30' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='330' y='90' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='330' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='330' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='390' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='390' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2122' x='390' y='150' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2119' x='390' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2122' x='450' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='450' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2119' x='450' y='150' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='450' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='510' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='510' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2122' x='510' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='510' y='210' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2118' x='570' y='30' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2123' x='570' y='90' stroke='rgba(21%2c 115%2c 16%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2121' x='570' y='150' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath2121' x='570' y='210' stroke='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2116'%3e%3crect width='600' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='16.67%25' y1='-50%25' x2='83.33%25' y2='150%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2117'%3e%3cstop stop-color='rgba(23%2c 180%2c 50%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(107%2c 255%2c 122%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath2121'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath2122'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath2118'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath2119'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath2123'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath2120'%3e%3c/path%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    padding: var(--pad) 42px;
}

.colecaoButtonSave div{
    background-repeat: no-repeat;
    border-radius: var(--radius);
    background: var(--white);
    padding: var(--pad);
}

.colecaoButtonSave:hover div{
    scale: 1.02;
}

#modalSavePost::-webkit-scrollbar {
    width: 0px;
}

#modalSavePost{
    display: none;
    position: absolute;
    flex-direction: column;
    gap: var(--gap);
    background: var(--white);
    padding: var(--pad);
    box-shadow: 0px 0px 10px var(--hover);
    z-index: 800;
    gap: var(--gap);
    max-height: 240px;
    overflow: auto;
    animation: esmaecer .3s;
    border-radius: var(--radius);
}

.btnsProfileOpt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    padding: var(--pad);
    border-radius:calc(var(--radius)/2);
    font-weight: 600;
    gap: calc(var(--gap)/2);
    color: var(--dark);
}

#modalOptPost a:hover{
    background: var(--hover);
}

.secoeslista{
    overflow-y: auto;
    display: block;
    height: 100%;
    width: 100%;
}

.optsectionlist{
    display: none;
}

.secaooptlist{
    display: none;
}

.btnNovaSecao{
    background: var(--light);
    height: 100%;
    width: auto;
    border-radius: var(--btn-radius);
    border: none;
    content: url(http://www.w3.org/2000/svg);
    padding: var(--pad);
    color: var(--dark);
    cursor: pointer;
    font-weight: 800;
}

.btnNovaSecao:hover{
    background: var(--hover);
}


.inputSecaoCriar {
    width: 100%;
    border: transparent;
    outline: none;
    padding: var(--pad);
    border-radius: var(--radius);
    background: none;
}

#projectSelect{
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: 0px 20px;
    background: var(--light);
    border-radius: 200px;
    width: 60%;
    height: fit-content;
    min-height: 44px;
    font-size: 16px;
    color: var(--dark);
    border-bottom: 2px solid var(--light);
    cursor: pointer;
}

#projectToPost{
    display: flex;
    align-items: center;
    background: transparent;
    width: 100%;
    border: none;
    height: fit-content;
    outline: none;
    min-height: 44px;
    font-size: 16px;
    color: var(--dark);
    border-bottom: 2px solid var(--light
    );
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#projectSelect:hover{
    background: #e7e7e7;
}
/****************************************************************************************************************/

.posts{
    width: 100%;
    height: fit-content;
    background: var(--light);
    columns: 6;
    flex: content;
    column-gap: var(--gap);
    padding: calc(var(--pad)*2);
}

.secaoProjeto{
    width: 100%;
    height: fit-content;
    padding: var(--pad);
    background: var(--yellow);
    display: flex;
    flex-direction: column;
}

.secoesByProject{
    width: 100%;
    overflow: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.postsRecomend{
    width: 100%;
    height: fit-content;
    background: var(--light);
    display: grid;
    /*columns: 4;*/
    grid-template-columns: repeat(5, 1fr);
    /*grid-template-rows: repeat(1, 260px);*/
    column-gap: var(--gap);
    padding: calc(var(--pad)*2);
}

.post{
    border-radius: calc(var(--radius));
    background: url(https://user-images.githubusercontent.com/20482760/56193735-a33f2800-6031-11e9-80c7-878dad341315.png);
    cursor: pointer;
    transition: var(--temp);
    width: 100%;
    height: fit-content;
    display: block;
    margin-bottom: var(--gap);
    break-inside: avoid;
}

.post a{
    width: 100%;
    height: fit-content;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.infopost{
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    z-index: 500;
    background: linear-gradient(to top, #0000003f, #00000000);
    position: absolute;
}

.post  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
}

.post:hover, .video_post:hover, .post_pdf_ext:hover{
    box-shadow: 0 4px 18px 0 var(--hover);
    scale: 1.01;
}

#postimg{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0;
    top: 0;
}

/***************************************************************************************************************/

.postDiv{
    height: fit-content;
    width: 100%;
    background: var(--light);
    padding: calc(var(--pad)*3) 16%;
    gap: var(--gap);
    display: flex;
    flex-direction: column;
}

.postagem{
    display: grid;
    grid-template-columns: 6fr 5fr;
    border-radius: var(--radius);
    background: var(--white);
    height: fit-content;
    min-height: 300px;
    width: 100%;
    padding: var(--pad);
}

#imgpost{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://user-images.githubusercontent.com/20482760/56193735-a33f2800-6031-11e9-80c7-878dad341315.png);
}

.projectLink{
    min-height: 40px;
    height: fit-content;
    font-size: 14px;
    padding: var(--pad) var(--pad) var(--pad) 30px;
    width: 100%;
    border-radius: 100px;
    background: var(--light);
    text-decoration: none;
    color: var(--dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
}

.projectLink:hover .svgLink{
    scale: 1.2;
}

.cardForuns {
    cursor: pointer;
    height: 100%;
    border-radius: 100px;
    padding: var(--pad) 24px ;
    transition: var(--temp);
    display: flex;
    color: var(--dark);
    justify-content: center;
    text-align: center;
    background: var(--white);
    font-size: 10px;
    border: 2px solid transparent;
   }

   .cardForuns:hover{
    border: 2px solid var(--hover);
   }

.projectLink:hover{
    filter: drop-shadow(#00000004 0px 0px 1px);
}

.postInfo{
    width: 100%;
    height: 100%;
    padding: calc(var(--pad)*3);
    justify-content: space-between;
    display: flex;
    gap: calc(var(--gap)/2);
    flex-direction: column;
}

.svgLink{
    display: flex;
    height: 100%;
    padding: var(--pad);
    width: auto;
    aspect-ratio: 1/1;
    background: #0000000e;
    color: var(--dark);
    border-radius: 50%;
}
